name: pytest

on:
  schedule:
    - cron: '0 3 * * *'   # every day at 03:00
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e source/rob6323_go2[dev]

      - name: Run pytest
        run: pytest source/rob6323_go2/tests/dummy_test_rob6323_go2_env.py
